<h1>Héroes A <small>de Marvel y DC</small></h1>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let i = index">
      <img [src]="hero.img" class="card-img-top img-fluid" [alt]="hero.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ hero.nombre }}</h5>
        <p class="card-text">{{ hero.bio.substring(0, 99) }}</p>
        <p class="card-text"><small class="text-muted"> {{ hero.aparicion }} </small></p>
      </div>

      <button (click)="seeHero(i)" class="btn btn-outline-primary m-4">Ver más...</button>
  </div>
</div>