<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" width="30" height="30" alt="A-Heroes">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <small>List</small>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/hero','0']">Aquaman</a>
          <a class="dropdown-item" [routerLink]="['/hero','1']">Batman</a>
          <a class="dropdown-item" [routerLink]="['/hero','2']">Daredevil</a>
          <a class="dropdown-item" [routerLink]="['/hero','3']">Hulk</a>
          <a class="dropdown-item" [routerLink]="['/hero','4']">Linterna Verde</a>
          <a class="dropdown-item" [routerLink]="['/hero','5']">Spiderman</a>
          <a class="dropdown-item" [routerLink]="['/hero','6']">Wolverine</a>
        </div>
      </li>
    </ul>
    <div width="300px" style="margin-right: 5px">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Hero..." (keyup.enter)="searchHero(searchQuery.value)" #searchQuery>
    </div>
    <button (click)="searchHero(searchQuery.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
  </div>
</nav>